{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    ustawienia
{% endblock %}

{% block scripts %}
{#    <script src="{% static './js/checkboxes_script.js' %}" defer></script>#}
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
        </div>
        {% endfor %}
    {% endif %}
    <h1>wybierz posiłki, które chcesz planować:</h1>
    <p style="color:grey">możesz wybrać dowolną liczbę posiłków.
        Te posiłki pojawią się w Twoim tygodniowym planerze.</p>

    <div class="container">
    <div class="column">

    <form method="post">
        {% csrf_token %}

    <div class="col-3 mt-5">
        <table class="table table-striped">
            {% for meal in meal_list %}
            <tr>
            <td class="text-center">
                <input class="form-check-input mt-1" type="checkbox" name="{{ meal.meal_name }}"
                        {% if meal.meal_selected %} checked {% endif %}></td>
                <td>{{ meal.meal_name }}</td>

            </tr>
            {% endfor %}
        </table>
    </div>

    <div class="d-grid gap-2 col-3 mt-5">
        <button type="submit" class="btn btn-warning">zapisz</button>
    </div>

    </form>

    </div>
    </div>
{% endblock %}