{% extends '_base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    ustawienia
{% endblock %}

{% block scripts %}
{#    <script src="{% static './js/checkboxes_script.js' %}" defer></script>#}
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
        <div class="container-fluid p-0">
            <div class="alert alert-primary alert-dismissible fade show" role="alert">
{#                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">#}
{#                </button>#}
                {{ message }}
            </div>
        </div>
        {% endfor %}
    {% endif %}
    <h1>wybierz posiłki, które chcesz planować:</h1>
    <p style="color:grey">możesz wybrać dowolną liczbę posiłków.
        Te posiłki pojawią się w Twoim tygodniowym planerze.</p>

    <div class="container">
    <div class="column">
    <form method="post">
        {% csrf_token %}
        {{ form|crispy }}


{#        {% for choice_id, choice_label in form.meals.field.choices %}#}
{#            <div>#}
{#               <label>#}
{#                  <input type="checkbox" value="{{ choice_id }}" name="meals"#}
{#                  {% if choice_id in selected_meals %}#}
{#                  checked#}
{#                  {% endif %}> <span>{{ choice_label }}</span>#}
{#               </label>#}
{#            </div>#}
{#        {% endfor %}#}


{#        <div class="row mb-4">#}
{#        <div class="container-fluid">#}
{#        {% for choice_id, choice_label in form.meal_name.field.choices %}#}
{#            <div class="btn-multichoice">#}
{#               <label>#}
{#                  <input type="checkbox" value="{{ choice_id }}" name="meal_name"><span>{{ choice_label }}</span>#}
{#               </label>#}
{#            </div>#}
{#        {% endfor %}#}
{#        </div>#}
{#        </div>#}

        <div class="d-grid gap-2 col-3">
        <button type="submit" class="btn btn-warning">zapisz</button>
        </div>
    </form>
    </div>
    </div>
{% endblock %}