<nav class="navbar is-transparent mt-1 mb-5" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item is-handwriting is-logo" href="{% url 'home' %}">
            meal prep
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarMP">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarMP" class="navbar-menu">
        {% if user.is_authenticated %}
        <div class="navbar-start">
            <a class="navbar-item" aria-current="page" href="{% url 'plans:week-plan-nav' %}">planuj!</a>
            <a class="navbar-item" aria-current="page" href="{% url 'shopping:shopping-nav' %}">zakupy</a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link" aria-current="page" href="{% url 'recipes:recipe-list' %}">książka kucharska</a>

                <div class="navbar-dropdown">
                    <a class="navbar-item is-dropdown" aria-current="page" href="{% url 'recipes:add-recipe' %}">dodaj przepis</a>

                </div>
            </div>
             <a class="navbar-item" aria-current="page" href="{% url 'preferences:user-preferences' %}">ustawienia</a>
        {% endif %}
             <a class="navbar-item" aria-current="page"
                     {% if not user.is_authenticated %} id="white_about" {% endif %}
                href="{% url 'about' %}">o aplikacji</a>

        </div>

        <div class="navbar-end">
            <div class="navbar-item">
               <div class="buttons">
                   {% if user.is_authenticated %}
                    <a class="button is-light is-rounded" aria-current="page" href="{% url 'logout' %}">wyloguj</a>
                   {% else %}
                     <a class="button is-light is-rounded" aria-current="page" href="{% url 'login' %}">zaloguj</a>
                     <a class="button is-outlined is-rounded" aria-current="page" href="{% url 'users:signup' %}">
                       <strong>zarejestruj</strong>
                     </a>
                   {% endif %}
               </div>
            </div>
    </div>
  </div>
</nav>