{% extends '_base.html' %}

{% block title %}
    Przepis
{% endblock %}

{% block content %}
    <div class="row text-start">
        <h1>{{ name }}</h1>
        <h5>{% for tag in meal_tags %}
            <span class="badge text-bg-warning">{{ tag }}</span>
        {% endfor %}
        </h5>
    <p>porcje: {{ portions }}</p>
    </div><br>
    <div class="row">
        <div class="col text-start">
            <h5>SKŁADNIKI</h5>
            <ul>
            {% for ingredient in ingredients %}
                <li>{{ ingredient }}</li>
            {% endfor %}
            </ul>
        </div>
        <div class="col text-start">
            <h5>PRZYGOTOWANIE</h5>
            <ol>
            {% for step in method %}
                <li>{{ step }}</li>
            {% endfor %}
            </ol>
        </div>

    </div>
    <a href="{% url 'recipes:edit-recipe' pk=id %}" class="btn btn-aubergine">edytuj</a>
    <a href="{% url 'recipes:delete-recipe' idx=id %}" class="btn btn-aubergine">usuń</a>

{% endblock %}