html, body {
    height: 100%;
    overflow: hidden;
}

body {
    background: black url("/static/images/Main_background_large.jpg") center/cover;
}

.navbar {
    background-color: transparent;
}

.navbar-burger {
    color: white;
}

.navbar-burger:hover {
    color: #d4af70;
}

.hero.is-fullheight .hero-body {
    align-items: flex-start;
}

.box {
    opacity: 0.95;
}

.input:focus, .textarea:focus, .select select:focus, .is-focused.input, .is-focused.textarea, .select select.is-focused, .input:active, .textarea:active, .select select:active, .is-active.input, .is-active.textarea, .select select.is-active {
  border-color: #f5a462;
  box-shadow: 0 0 0 0.125em rgb(252, 211, 179);
}

.is-link.input:focus, .is-link.textarea:focus, .is-link.is-focused.input, .is-link.is-focused.textarea, .is-link.input:active, .is-link.textarea:active, .is-link.is-active.input, .is-link.is-active.textarea {
  box-shadow: 0 0 0 0.125em rgb(252, 211, 179);
}

.select.is-link select:focus, .select.is-link select.is-focused, .select.is-link select:active, .select.is-link select.is-active {
  box-shadow: 0 0 0 0.125em rgb(252, 211, 179);
}

.button.is-link:focus:not(:active), .button.is-link.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgb(252, 211, 179);
}

.button:focus:not(:active), .button.is-focused:not(:active) {
  box-shadow: 0 0 0 0.125em rgb(252, 211, 179);
}

/*#unregistered_home {*/
/*    background: black url("/static/images/Main_background_large.jpg") center/cover;*/
/*}*/

#dark_logo {
    font-size: 3rem;
}

.navbar-item, .navbar-link {
    color: whitesmoke;
}

.navbar-item:hover, .navbar-link:hover, a.navbar-item:hover {
    color: #d4af70;
}

.navbar-item.is-dropdown {
    color: #464647;
}

.navbar-link:not(.is-arrowless)::after {
  border-color: #d4af70;
  margin-top: -0.375em;
  right: 1.125em;
}

.is-logo {
    font-size: 3rem;
}

.is-handwriting {
    font-family: "Style Script";
}

.is-header {
    font-size: 2.5rem;
}

.is-meal-header {

}

#white_about {
    color: white
}

#white_about:hover {
    color: darkgray;
    background: none;
}

