html, body {
    height: 100%;
    overflow: hidden;
}

#unregistered_home {
    background: black url("/static/images/Main_background_large.jpg") center/cover;
}

#dark_logo {
    font-family: "Homemade Apple";
    font-size: 25px;
}

#white_logo {
    font-family: "Homemade Apple";
    color: white;
    font-size: 25px;
}

#white_about {
    color: white
}

#white_about:hover {
    color: darkgray;
    background: none;
}

#unregistered_title {
    font-family: "Homemade Apple";
    color: white;
    font-size: 3em;
}

.btn-aubergine {
    color: #fff;
    background-color: #800080ff;
    border-color:#800080ff;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #73b973;
    --bs-btn-hover-border-color: #73b973;
    --bs-btn-active-color:#fff;
    --bs-btn-active-bg:#800080ff;
    --bs-btn-active-border-color:#800080ff;
    --bs-btn-active-shadow:inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #6a6d6e;
    --bs-btn-disabled-border-color:#6a6d6e;
}

.bg-aubergine {
    background-color: rgba(128, 0, 128, 1);
}


.btn-multichoice{
  margin: 4px;
  background-color: #c0b8c0;
  border-radius: 4px;
  border: 1px solid #fff;
  overflow: hidden;
  float: left;
}

.btn-multichoice label {
  float: left; line-height: 3.0em;
  width: 8.0em; height: 3.0em;
}

.btn-multichoice label span {
  text-align: center;
  padding: 3px 0;
  display: block;
}

.btn-multichoice-sm label {
  float: left; line-height: 1.5em;
  width: 4.0em; height: 2.0em;
}

.btn-multichoice-sm label span {
  text-align: center;
  vertical-align: top;
  padding: 3px;
  display: block;
}

.btn-multichoice label input {
  position: absolute;
  display: none;
  color: #000000 !important;
}
/* selects all of the text within the input element and changes the color of the text */
.btn-multichoice label input + span{color: #000000;}


/* This will declare how a selected input will look giving generic properties */
.btn-multichoice input:checked + span {
    color: #ffffff;
    text-shadow: 0 0  6px rgba(0, 0, 0, 0.8);
}

/*
This following statements selects each category individually that contains an input element that is a checkbox and is checked (or selected) and chabges the background color of the span element.
*/

.btn-multichoice input:checked + span{background-color: #800080ff;}


.card-aubergine-link {
    width: 18rem;
    text-decoration: none;
    color: black;
}


.card-aubergine-link:hover {
    color: grey;
}


.card-aubergine-link-active {
    width: 18rem;
    text-decoration: none;
    background-color: #800080ff;
    color: white;
}

.card-aubergine-link-active:hover {
    color: yellow;
}