{% extends '_base.html' %}

{% block title %}
    shopping navigation
{% endblock %}

{% block content %}

    <h1>zakupy do zrobienia - <span style="color:grey;">{{ shopping_list.date|date:'l, d E' }}</span></h1><br><br>
    <ul class="list-group list-group-flush">
      {% for product in products %}
        <li class="list-group-item d-flex justify-content-between align-items-start">
        <p style="color: #404040;">{{ product }}</p>
        </li>
      {% empty %}
        <p>twoja lista jest pusta</p>
      {% endfor %}
    </ul><br><br>



{% endblock %}