{% extends '_base.html' %}
{% load static %}

{% block title %}
    Hello!
{% endblock %}


{% block content %}

    {% if user.is_authenticated %}
        <h1 class="mb-5">cześć {{ user.username }}!</h1>

        <h3 class="mt-5">dzisiejsze menu:</h3>
        <ul class="list-group list-group-flush">

        {% for meal in planned_meals %}

            <li class="list-group-item"><strong>{{ meal.meal_name }}: </strong>
              {% for item in eaten_list %}
              {% if item.meal == meal %}
              {{ item.recipe }},
              {% endif %}
              {% endfor %}</li>

        {% endfor %}
        </ul>

        {% if cooking_list %}
        <h3 class="mt-5">dzisiaj gotujesz:</h3>
        <ul class="list-group list-group-flush">
        {{ cooked_list }}
            {% for item in cooked_list %}
             <li class="list-group-item"><a href="{% url 'recipes:show-recipe' idx=item.recipe_id %}" style="color: #404040; text-decoration: none">
                 {{ item.recipe }}
             </a></li>
            {% endfor %}
        </ul>
        {% else %}
        <h3 class="mt-5">dzisiaj nie gotujesz!</h3>
        {% endif %}

        {% if shopping_list %}
        <h3 class="mt-5">kup dzisiaj:</h3>
        <ul class="list-group list-group-flush">
            {% for product in shopping_list %}
                  <li class="list-group-item">{{ product }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    {% else %}
        <h1 class="mb-5 mt-5">łatwy meal prep!</h1>
        <p>Zaloguj się raz, dwa! >>
        <a href="{% url 'login' %}">KLIK!</a></p>
    {% endif %}

{% endblock %}