{% extends '_base.html' %}
{% load static %}

{% block title %}
    Hello!
{% endblock %}


{%  block navbar %}
    {% if not user.is_authenticated %}
        <section class="hero is-fullheight" {% if not user.is_authenticated %} id="unregistered_home" {% endif %}>
        <div class="hero-head mt-4">
            {% include './partials/_menu.html' %}
        </div>
    {% endif %}
{%  endblock %}


{% block content %}

    {% if user.is_authenticated %}

        <h1 class="mb-5">cześć {{ user.username }}!</h1>

        <h3 class="mt-5">dzisiejsze menu:</h3>
        <ul class="list-group list-group-flush">

        {% for meal in planned_meals %}

            <li class="list-group-item"><strong>{{ meal.meal_name }}: </strong>
              {% for item in eaten_list %}
              {% if item.meal == meal %}
              {{ item.recipe }},
              {% endif %}
              {% endfor %}</li>

        {% endfor %}
        </ul>

        {% if cooked_list %}
        <h3 class="mt-5">dzisiaj gotujesz:</h3>
        <ul class="list-group list-group-flush">
            {% for item in cooked_list %}
             <li class="list-group-item"><a href="{% url 'recipes:show-recipe' idx=item.recipe_id %}" style="color: #404040; text-decoration: none">
                 {{ item.recipe }}
             </a></li>
            {% endfor %}
        </ul>
        {% else %}
        <h3 class="mt-5">dzisiaj nie gotujesz!</h3>
        {% endif %}

        {% if shopping_list %}
        <h3 class="mt-5">kup dzisiaj:</h3>
        <ul class="mb-5 mt-2 list-group list-group-flush">
            {% for product in shopping_list %}
                  <li class="list-group-item">{{ product }}</li>
            {% endfor %}
        </ul>
        {% endif %}

    {% else %}

        <div class="hero-body"></div>
        <div class="hero-foot"></div>
        </section>
    {% endif %}
{% endblock %}

