{% extends '_base.html' %}

{% block title %}
    planowanie tygodnia
{% endblock %}

{% block content %}

    <ul class="list-group list-group-flush">
    {% for day in day_list %}
        <li class="list-group-item mb-4">
            <div>
            <div class="mb-4"><strong>{{ day|date:'l' }}</strong> <span style="color:grey;">{{ day|date:'d E' }}</span></div>
                <ul class="list-group list-group-flush">
                    {% for meal in meal_list %}
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                            {{ meal.meal_name }}
                        <span><a href="{% url 'plans:plan-detail' week_start=week_start day=day meal_id=meal.id %}" class="btn btn-aubergine">+</a></span>
                        </li>

                    {% endfor %}
                </ul>
            </div>

        </li>

    {% endfor %}
    </ul>
{% endblock %}