{% extends '_base.html' %}

{% block title %}
    planowanie tygodnia
{% endblock %}

{% block content %}

<div class="mb-5">
<h3>Dokończ planowanie podejmując kolejne decyzje:</h3>
<ol>
    <li>dla każdego dania wpisz liczbę porcji, której potrzebujesz w całym tygodniu</li>
    <li>dla każdego dania zaznacz, kiedy planujesz go ugotować</li>
</ol>
    <hr>
    <div class="row" style="width: 50%;">
        <div class="col">&#129000; jedzenie</div>
        <div class="col">&#128997; gotowanie</div>
        <div class="col">&#129003; gotowanie i jedzenie</div>
    </div>
</div>


<form method="post">
{% csrf_token %}

<table class="table">
  <thead class="table-warning" style="text-align: center;">
    <tr>
      <th scope="col"> </th>
      {% for day in day_list_9 %}
      <th scope="col" style="font-weight: normal;">{{ day|date:'d.m' }}</th>
      {% endfor %}
      <th scope="col">porcje</th>
      <th scope="col">gotowanie</th>
    </tr>
  </thead>

  <tbody>
  {% for recipe, plan in recipe_list.items %}
    <tr>
      <th scope="row" style="text-align: right;">{{ recipe }}</th>
      {% for day in day_list_9 %}
          {% if day in plan.is_eaten and day not in plan.is_cooked%}
              <td style="text-align: center;">&#129000;</td>
          {% elif day not in plan.is_eaten and day in plan.is_cooked%}
              <td style="text-align: center;">&#128997;</td>
          {% elif day in plan.is_eaten and day in plan.is_cooked%}
              <td style="text-align: center;">&#129003;</td>
          {% else %}
              <td></td>
          {% endif %}
      {% endfor %}
      <td style="text-align: center;">
          <label>
              <input name="{{ recipe.id }}_portions" type="number" min="1" max="15" step="0.5" value="{{ recipe.portions }}"
                      style="width: 50px;" required>
          </label>
      </td>
      <td style="text-align: center;">
          <label>
              <input name="{{ recipe.id }}_cooked" type="date" value="{{ plan.is_cooked.0|date:'Y-m-d' }}" required>
          </label>
      </td>
    </tr>
  {% endfor %}

  </tbody>
</table>

    <div class="row mt-5"><button type="submit" class="btn btn-aubergine">zapisz</button></div>
</form>
{% endblock %}

